extends ../templates/base

block content
    div(class="company-card")
        div(class="company-information")
            div(class="animate hide")
                img(src="../svg/logo.svg", alt="Logo", class="company-logo")
                div(class="company-specialization") керамогранит &#8226; тонкая широкоформатная керамика
                div(class="company-description hide")
                    div(class="company-description-item") Ростов-на-Дону
                    div(class="company-description-item") ул. Соколова, 80в
                    a(href="tel:+79281863864", class="company-description-item") 8 (928) 186 38 64
                    a(href="tel:+78633016501", class="company-description-item") 8 (863) 301 65 01
                    a(href="mail:info@uno-company.ru", class="company-description-item") info@uno-company.ru
        div(class="main-slider slick-slider")        
            div(class="main-slider-item")
                img(src="../dummy/1.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/2.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/3.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/4.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/5.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/6.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/7.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/8.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/9.jpg", alt="page 1")
