extends ../templates/base

block content
    div(class="company-card")
        div(class="company-information")
            img(src="../svg/logo.svg", alt="Logo", class="company-logo")
            div(class="company-specialization") керамогранит &#8226; тонкая широкоформатная керамика
            div(class="company-description")
                div(class="company-description-item") Ростов-на-Дону
                div(class="company-description-item") ул. Малюгиной, 80в
                a(href="tel:+79000000000", class="company-description-item") 8 (900) 000-00-00
                a(href="mail:info@uno-company.ru", class="company-description-item") info@uno-company.ru
        div(class="main-slider slick-slider")        
            div(class="main-slider-item")
                img(src="../dummy/slider1.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/slider2.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/slider3.jpg", alt="page 1")
            div(class="main-slider-item")
                img(src="../dummy/slider4.jpg", alt="page 1")
