@media screen and (max-width: 1366px)
	.company-information
		.company-description
			margin-top 100px
@media screen and (max-width: 1280px)
	.company-information
		.company-logo
			margin-top 100px
@media screen and (max-width: 960px)
	.company-information
		.company-logo
			margin-top 80px
		.company-description
			margin-top 50px

@media screen and (max-width: 800px)
	body
		overflow auto
	.company-card
		flex-flow column
	.company-information
		width 100%
		height auto
		min-height auto

		.company-logo
			width 250px
			margin-top 40px

		.company-description
			text-align center

	.main-slider
		width 100%

@media screen and (max-width: 600px)
	.company-information
		.company-logo
			width 165px
			margin-top 40px

		.company-specialization
			max-width 220px
			margin-top 18px

			line-height 18px

			font-size 10px
			text-align center


		.company-description
			width 200px
			margin-top 35px
			margin-bottom 35px

			.company-description-item
				margin-bottom 10px
				font-size 13px

	.main-slider
		width 100%

		.main-slider-item
			img
				height auto
